<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liujie.dao.mapper.BpFundBasicInfoMapper">


    <select id="selectFundMap" resultType="com.liujie.dao.po.BpFundBasicInfo">
        select * from bp_fund_basic_info
        where rec_stat = '0' and check_flag = '1'
    </select>
</mapper>
